.map-legend-container {
	width: 100%;
	margin-top: 10px;
}
.map-legend {
    display: table;
    table-layout: fixed;
    border-spacing: 1px;
    margin: auto;
}

.map-legend > div {
    display: table-cell;
}

.map-legend > div > div {
    width: 50px;
    height: 50px;
    opacity: 0.6;
    font-size: 10px;
    text-align: center;
    display: table;
}

.map-legend > div > div > div {
    display: table-cell;
    vertical-align: middle;
    color: black;
}

.map-canvas {
    height: 600px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.map-title {
	margin-top: 10px;
    padding-left: 5px;
    background-color: #808080;;
}

.custom-control-container {
    margin: 10px;
}
.custom-control {
    cursor: pointer;
    direction: ltr;
    overflow: hidden;
    text-align: center;
    position: relative;
    color: rgb(0, 0, 0);
    font-family: "Roboto", Arial, sans-serif;
    -webkit-user-select: none;
    font-size: 11px !important;
    background-color: rgb(255, 255, 255);
    padding: 8px 8px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.14902);
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    min-width: 28px;
    font-weight: 500;
}

.custom-control:hover {
    font-weight: 900 !important;
    background-color: lightgray;
}
